
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif !important;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

div.col {
  display: inline-block;
  padding: 20px !important;
}
span {
  margin-left: 10px;
  font-size: 2.5em;
}
.theme-color-txt {
  color: #390035;
}
.theme-color-bg {
  background-color: #390035;
}
span[id] {
  font-weight: bold;
  color: #390035;
}
section.container {
  position: relative;
}